*{
  padding: 0;
  margin: 0;
}
// examples styles
h1 {
  margin: 30px 0 10px 0px;
  font-size: 20px;
}
h2 {
  margin: 0 0 5px 0px;
  font-size: 18px;
}
section {
  margin-bottom: 20px;
}
shui-button {
  margin-right: 5px;
}
.row {
  margin-bottom: 20px;
}
